{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "syntax-class-properties",
    "transform-export-default-name",
    [
      "transform-async-functions",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "transform-class-properties",
    "syntax-async-functions"
  ]
}