doctype html
html
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='styles/login.min.css')
    script(src='scripts/three.min.js',defer=true)
    script(src='scripts/TweenMax.min.js',defer=true)
    script(src='scripts/login/Bootstrap.min.js',defer=true)
  style.
      body,.full {width:100%;height:100%;position:relative;}
  body
    #app.full
  footer#footer(style='display:none')
    | Animation by
    a(target='_blank', href='https://twitter.com/QuentinHocde') Quentin Hocdé