@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/datepicker";

html, body {
  background: #000;
  font-size: 1rem;
  line-height: 1.5rem;
}

.float {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  z-index: 5;
}

.input {
  background: transparent;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 70%;
  letter-spacing: 1px;
  width: 100%;
  margin: 5px auto;
  color: #FFF;
  border: 1px solid #222;
  text-align: center;
  display: inline-block;
}

.button {
  background: #2589DE;
  border-radius: 30px;
  color: #FFF;
  font-size: 70%;
  width: 50%;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: background 50ms;
  padding: 5px 0;
  display: inline-block;
  &.disabled {
    cursor: none;
    pointer-events: none;
    background: #0f3657;
  }
}

canvas {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 0;
  opacity: 0.3;
}

#footer {
  color: #3b434c;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  a {
    color: white;
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
    text-decoration: none;
    font-weight: 700;
    margin: 0 5px;
  }
}