@import "shared/reset";
@import "shared/fonts";
@import "shared/base";
@import "shared/scroll";
@import "shared/layouts";
@import "shared/datepicker";
@import "shared/checkbox";

html, body {
  background: #222;
  font-size: 0.95rem;
  line-height: 1.5rem;
  font-family: 'Proxima Nova', "Helvetica", "Helvetic Neue", "Open Sans", sans-serif;
  &.blue {
    background: #242831;
  }

  transition: background 1500ms;
}

.animate-height {
  transition: max-height 600ms, min-height 600ms, height 600ms;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
}

.animate-visibility {
  transition: visibility 600ms, opacity 600ms;
}

.header {
  width: 100%;
  height: 125px;
  min-height: 125px;
  position: relative;
  z-index: 3;
}

.group {
  .title {
    text-transform: uppercase;
    color: #E4E4E4;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-left: 20px;
    font-size: 80%;
  }

  .item {
    text-transform: uppercase;
    padding: 5px 20px;
    color: #888;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 90%;
    &.selected {
      background: #2589DE;
      color: white !important;
    }
  }
}

.sidebar {
  width: 200px;
  min-width: 170px;
  background: rgba(0, 0, 0, .5);
}

.bgRed {
  background: #B90707 !important;
}

.bgBlue {
  background: #026869 !important;
}

.bgGreen {
  background: #00b400 !important;
}

.green {
  color: #00b400 !important;
}

.darkGray {
  color: #525252 !important;
}

.bgDarkRed {
  background: #2F0505;
}

.gray {
  color: #888;
}

.dim {
  opacity: 0.5;
}

.tag {
  margin-right: 4px;
  text-transform: uppercase;
  color: #CF358C;
  &.persistent {
    color: rgb(155, 187, 220);
  }
  &.stroke {
    font-size: 9px;
    padding: 1px 3px;
    border: 1px solid #888;
    border-radius: 10px;
  }
  &.fill {
    margin-left: 0;
    padding: 2px 5px;
    color: rgba(255, 255, 255, 0.6);
    background: #2F2F2F;
    border-radius: 2px;
    letter-spacing: 1px;
    font-size: 8px;
    &.new-entry {
      background: #3F51B5;
    }
  }
}

.pre {
  margin-right: 3px;
  font-weight: normal;
  color: rgb(93, 176, 215);
}

.entry {
  line-height: 110%;
  padding: 3px 0;
  white-space: pre;
  font-family: Meslo, Menlo, Monaco, Consolas, monospace;
  font-size: 11px;
}

.line {
  color: #555;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
  font-size: 80%;
}

.raw {
  position: relative;
  z-index: 2;
  padding: 8px 20px !important;
  padding-left: 0 !important;
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
  margin-top: 10px;
  margin-bottom: 0px;
}

.white {
  color: #FFF;
}

.inspector {
  position: relative;
  flex: 1;
  white-space: pre-wrap;
  &:first-child {
    padding-left: 0;
  }
}

.inspector > .ObjectInspector {
  display: inline-block;
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
}

.ObjectInspector {
  cursor: default;
  display: block;
  color: rgb(189, 198, 207);
}

.ObjectInspector-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ObjectInspector:first-child .ObjectInspector-expand-control {
  margin-left: 0;
}

.ObjectInspector-expand-control {
  color: #888888;
  margin-right: 3px;
  white-space: pre;
  margin-left: 5px;
  font-size: 60%;
  position: relative;
  top: 1px;
}

.ObjectInspector-property {
  padding-top: 2px;
}

.ObjectInspector-object-name {
  color: rgb(227, 110, 236);
}

.ObjectInspector-object-value-null, .ObjectInspector-object-value-undefined {
  color: rgb(128, 128, 128);
}

.ObjectInspector-object-value-string {
  color: rgb(242, 151, 102);
}

.ObjectInspector-object-value-symbol {
  color: #32BBC7;
}

.ObjectInspector-object-value-number {
  color: #32BBC7;
}

.ObjectInspector-object-value-boolean {
  color: #CF358C;
}

.ObjectInspector-object-value-function-keyword {
  color: #CF358C;
  font-style: italic;
}

.ObjectInspector-object-value-function-name {
  font-style: italic;
}

.ObjectInspector-object-preview {
  font-style: italic;
}

.ObjectInspector-property-nodes-container {
  padding-left: 12px
}

.expand-right {
  max-width: 12px;
  width: 12px;
  min-width: 12px;
  transition: transform 300ms;
  cursor: pointer;
  user-select: none;
  transform-origin: center center;
  max-height: 12px;
  min-height: 12px;
  margin-right: 3px;
  height: 12px;
  text-align: center;
  font-size: 60%;
  display: inline-block;
  &.rotate {
    transform: rotate(-90deg);
  }
}

.datepicker__input-container {
  display: inline-block;
  float: right;
}

.datepicker__input {
  width: 60px;
  opacity: 0;
  top: 10px;
  cursor: pointer;
}

.datepicker__input-container::after {
  font-family: 'Fontello';
  content: '';
  min-height: 10px;
  min-width: 10px;
  position: relative;
  left: -15px;
  font-size: 80%;
  top: -1px;
  pointer-events: none;
}

.query {
  width: 100%;
  border-radius: 4px;
  margin: 0;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  overflow: hidden;
  color: #FFF;
}

.field {
  $fieldRadius: 3px;

  .name {
    font-size: 10px;
    width: 60px;
    max-width: 60px;
    background: rgba(255, 255, 255, 0.1);
    color: #999;
    letter-spacing: 1px;
    border-radius: $fieldRadius 0 0 $fieldRadius;
    padding-right: 5px;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
  }
  .input {
    background: transparent;
    border-radius: 0 $fieldRadius $fieldRadius 0;
    padding: 6px 5px 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    * {
      font-size: 10px;
    }
  }

  &.readonly {
    .input {
      border: transparent;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.ace-monokai {
  background: transparent !important;
}

.button {
  background: #2589DE;
  border-radius: 2px;
  color: #FFF;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: background 50ms;
  height: 26px;
  line-height: 26px;
  display: block;
  text-decoration: none;
  &.disabled {
    cursor: none;
    pointer-events: none;
    background: #0f3657;
  }
}

.spinner > div {
  background: rgba(255, 255, 255, 0.40) !important;
}

.spinner {
  margin: 0 auto;
  transform: scale3d(0.5, 0.5, 1);
  top: 1px;
  position: relative;
  position: relative;
}

.bgPurple {
  background: #6C07B9 !important;
}

.big-input {
  letter-spacing: 1px;
  font-size: 15px;
  width: 100%;
  border: none;
  color: #FFF;
  outline: none;
  margin: 0;
  font-weight: 100;
  padding: 17px 17px 5px;
  background: transparent;
}

.ggroup {
  padding: 0 2px;
  border-left: 1px solid rgba(148, 148, 148, 0.07);
  transition: background 1200ms;
  &:first-child {
    border-left: none;
  }
  .gg {
    justify-content: center;
  }
}

.bar {
  background: #333;
  position: relative;
  max-width: 3px;
  margin-right: 2px;
  min-width: 1px;
  transition: height 300ms, top 300ms, background 300ms;
  &:last-child {
    margin-right: 0;
  }
  &.log {
    background: green;
  }
  &.error {
    background: red;
  }
  &.info {
    background: cyan;
  }
  &.debug {
    background: yellow;
  }
  &.trace {
    background: magenta;
  }
  &.express {
    background: #423eff;
  }
}

.ObjectInspector-object-preview {
  .ObjectInspector-object-value-string {
    max-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }
}

.checkbox {
  margin: 0 8px 0 0;
  border-radius: 2px;
  background: #444;
  border: none;
  .check:before {
    border-color: rgb(146, 247, 29) !important;
  }
}

.red-selected {
  background: rgba(255, 0, 0, 0.3);
}

.time-series-label {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 5px;
  font-size: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  line-height: 10px;
  pointer-events: none;
}

.date-holder {
  height: 14px;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.react-datepicker__input-container {
  input {
    display: inline-block;
    border-radius: 2px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 9px !important;
    line-height: 14px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.16);
    outline: none;
    border: none;
    padding: 0 15px 0 5px;
  }
}

.react-datepicker__input-container::after {
  font-family: 'Fontello';
  content: '';
  position: absolute;
  right: 8px;
  font-size: 80%;
  top: 0;
  pointer-events: none;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.41);
}

.date {
}

.date-to {
  line-height: 13px;
  margin-right: 6px;
  color: rgba(255, 255, 255, 0.28);
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 1s;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  z-index: 99999;
  line-height: 11px;
  border: 1px solid #222;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

a {
  text-decoration: none;
}

.arrow-expand {
  position: absolute;
  right: 0px;
  cursor: pointer;
  top: 0px;
  bottom: -10px;
  width: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.5;
  line-height: 50px;
  transition: opacity 300ms, transform 300ms;
  transform-origin: 50% 50%;
  &.rotate-down {
    transform: rotate(-180deg);
  }
}

.arrow-expand:hover {
  opacity: 1;
}