<div ng-class="{'log--collapse' : collapse == true, 'log': true}">

    <span class="log__item log__number">
        {{number}}
    </span>

    <span class="log__item log__collapse">
        <span ng-if="isMultilines()" ng-click="changeState()">
            <span ng-if="collapse">▶</span>
            <span ng-if="!collapse">▼</span>
        </span>
    </span>

    <span class="log__item log__time log__time_80" ng-if="showDate != 0 && (showDate == 1 || log.show.date)">
        <span  class="log__time__higher">
            {{timezoneDate(log.context.time) | date: 'EEE MMM dd yyyy'}}
        </span>
    </span>

    <span class="log__item log__time log__time_122" ng-if="showTime != 0 && (showTime == 1 || log.show.time)">
        <span class="log__time__lower">
            {{timezoneDate(log.context.time) | date: 'yyyy-MM-ddTHH:mm:ss'}}
        </span>
    </span>

    <span class="log__item log__tags" ng-if="showTags != 0 && (showTags == 1 || log.show.tags)">
        <span>
            <span ng-repeat="tag in log.context.tags" class="log__tag bck-tag">{{handleTags(tag)}}</span>
        </span>
    </span>

    <span class="log__item log__location" ng-if="showFile != 0 && (showFile == 1 || log.show.location)" >
        <span class="bck-tag">
            {{log.context.location.filename}}:{{log.context.location.line}}
        </span>
    </span>

    <span class="log__item log__message" ng-if="log.hasOwnProperty('argsString')">
        <span>{{log.argsString}}</span>
    </span>

    <span class="log__item log__json" ng-if="!log.hasOwnProperty('argsString')">
        <span>{{log}}</span>
    </span>

</div>
