<div class="sidebar" ng-class="{'sidebar--open' : sidebar}">

    <h3 class="sidebar__title">
        Files
        <span class="tiny pull-right">
            <form action="" class="checkbox">
                <input type="checkbox" id="selectAll" ng-model="selectAll">
                <label for="selectAll">Select all</label>
            </form>
        </span>
    </h3>

    <ul class="content">

        <li ng-repeat="file in currentFiles" class="sidebar__item">
            <form action="" class="checkbox">
                <input type="checkbox" class="checkbox" id="check{{$id}}" ng-model="file.selected">
                <label for="check{{$id}}">{{file.name}}</label>
            </form>
        </li>

    </ul>

    <h3 class="sidebar__title">Add a file</h3>
    <autocomplete
        ng-model="fileToAdd"
        data="allLogsFiles"
        on-select="addFile"
        ng-keyup="$event.keyCode == 13 && addFile(fileToAdd)"
        click-activation="true"
        attr-placeholder="File Path"
        attr-input-class="input"
        class="sidebar__block"></autocomplete>

</div>
