html, body {
    background: #111;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans";
}

.float {
    position: absolute;
    left:0;
    right: 0;
    width: 650px;
    margin:0 auto;
    top:50%;
    margin-top:-40px;
    height:80px;
    padding:10px;
}

.float input {
    border: 1px solid #333;
    background: #222;
    font-family:"Ubuntu Mono";
    font-size: 25px;
    color:#FFF;
    outline:none;
    width:100%;
    height:100%;
    border-radius: 4px;
    padding:10px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    height: 50px;
    background: #222;
    right: 0;
    left: 0;
    border-bottom: 1px solid #2A2A2A;
}
    .header__logo {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        width: 168px;
        background: url("/img/logo.png") center right no-repeat;
        background-size: 65%;
    }

.content {
    position: absolute;
    top:50px;
    bottom:0;
    left:0;
    right:0;
}

.content .main {
    width:1000px;
    margin: 50px auto;
    margin-bottom: 20px;
}

.important {
    border-left:8px solid #333;
    padding:20px;
    padding-bottom: 40px;
}

.normal {
    border-left:8px solid transparent;
    padding:20px;
    padding-top: 50px;
    padding-bottom: 0;
}

h1 {
    font-size:60px;
    font-weight: bold;
    color:#21ce99;
    margin: 0;
}

h2 {
    font-size:20px;
    font-weight: bold;
    color:#888;
    margin: 0;
}

h4 {
    font-size:30px;
    font-weight: 100;
    color:#FFF;
    margin: 0;
}

h5 {
    font-size:15px;
    font-weight: 100;
    color:#FFF;
    margin: 0;
}

.content img {
    width:960px;
    border-radius:4px;
    margin:40px auto;
}

.fork {
    position: fixed;
    z-index: 5;
    height: 40px;
    width: 40px;
}

.button {
    padding: 16px 26px;
    color: #fff;
    font-size:11px;
    background: #555;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 2px solid #555;
    vertical-align: top;
    border-top-width: 3px;
    border-radius: 4px;
}

.direct {
    color: #21ce99;
    font-size: 14px;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    vertical-align: top;
    border-top-width: 3px;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    display: table;
    height:40px;
}

.direct div {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   text-transform: uppercase;
}

.direct div:nth-child(1) {
    font-size:30px;
    padding-right:10px;
}

input {
    padding: 16px;
    border:none;
    background: #222;
    font-family:"Ubuntu Mono", monospace;
    font-size: 16px;
    color:#fff;
    display: inline-block;
    vertical-align: top;
    outline:none;
    border: 2px solid #333;
    border-radius: 4px;
}

.notification {
    width: 40%;
    background: #333;
    position: fixed;
    top: 20px;
    left: 30%;
    z-index:4;
    right: 0;
    padding: 0 20px;
    border-left: 5px solid transparent;

    -ms-transform: translate3d(0, -100px, 0);
    -o-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);

    transition: -webkit-transform 250ms ease;
    transition: -moz-transform 250ms ease;
    transition: -ms-transform 250ms ease;
    transition: -o-transform 250ms ease;
    transition: transform 250ms ease;
}

.down {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.info {
    border-color: #3498db !important;
}
.error {
    border-color:#e74c3c !important;
}

.notification .wrapper {
    width: 100%;
    padding:20px 0;
    margin: 0 auto;
}
.notification .wrapper .text {
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    text-align: center;
}
